<?xml version = '1.0' encoding = 'WINDOWS-1251'?>
<workspace>
   <application name="hl.win32">
      <app_info>
         <directory>/hl.win32/</directory>
         <virtualpath>/hl.win32</virtualpath>
         <defaultpage/>
         <icon/>
         <description>Windows32 version of handled logistic</description>
         <publication/>
         <platform>Oracle Lite WIN32;US</platform>
      </app_info>
      <app_db connection="10" sharing="Y" publication="kmhl">
         <dbuser>master</dbuser>
         <dbpwd/>
      </app_db>
      <role name="Default Role"/>
      <snapshot name="inv_hl_order_serial_nums" owner="INV_USER" order="3">
         <snaplatform object="TABLE" platform="ORACLE LITE WIN32;US" template="SELECT *   FROM inv_user.inv_hl_order_serial_nums s  WHERE s.move_item_id IN        (select i.move_item_id           from inv_user.inv_hl_move_order_items i          WHERE i.move_id IN (SELECT o.move_id                                FROM INV_USER.inv_hl_move_orders o                               WHERE o.scanner_id = :scanner))" updatable="Y" conflict="client" refresh="fast" dml_procedure="" virtualprimname="" virtualprimcolname=""/>
      </snapshot>
      <snapshot name="inv_hl_move_orders" owner="INV_USER" order="1">
         <snaplatform object="TABLE" platform="ORACLE LITE WIN32;US" template="SELECT * FROM INV_USER.inv_hl_move_orders o WHERE o.scanner_id = :scanner" updatable="Y" conflict="client" refresh="fast" dml_procedure="" virtualprimname="" virtualprimcolname=""/>
      </snapshot>
      <snapshot name="inv_hl_move_order_items" owner="INV_USER" order="2">
         <snaplatform object="TABLE" platform="ORACLE LITE WIN32;US" template="select *   from inv_user.inv_hl_move_order_items i  WHERE i.move_id IN (SELECT o.move_id                        FROM INV_USER.inv_hl_move_orders o                       WHERE o.scanner_id = :scanner)" updatable="Y" conflict="client" refresh="fast" dml_procedure="" virtualprimname="" virtualprimcolname="">
            <index name="ix_inv_mv_orders_move_id" type="I" columns="move_id"/>
         </snaplatform>
      </snapshot>
      <snapshot name="PO_HL_ORDER_SERIAL_NUMS" owner="PO_USER" order="6">
         <snaplatform object="TABLE" platform="ORACLE LITE WIN32;US" template="SELECT * FROM PO_USER.PO_HL_ORDER_SERIAL_NUMS s where exists (SELECT 1 FROM PO_USER.PO_HL_ORDER_ITEMS i where order_id in (SELECT order_id FROM PO_USER.PO_HL_ORDERS where scanner_id = :scanner) and s.order_item_id = i.order_item_id and s.seq_location = i.seq_location)" updatable="Y" conflict="server" refresh="fast" dml_procedure="" virtualprimname="" virtualprimcolname="" />
      </snapshot>
      <snapshot name="PO_HL_ORDERS" owner="PO_USER" order="4">
         <snaplatform object="TABLE" platform="ORACLE LITE WIN32;US" template="SELECT * FROM PO_USER.PO_HL_ORDERS where scanner_id = :scanner" updatable="Y" conflict="server" refresh="fast" dml_procedure="" virtualprimname="" virtualprimcolname="" />
      </snapshot>
      <snapshot name="PO_HL_ORDER_ITEMS" owner="PO_USER" order="5">
         <snaplatform object="TABLE" platform="ORACLE LITE WIN32;US" template="SELECT * FROM PO_USER.PO_HL_ORDER_ITEMS where order_id in (SELECT order_id FROM PO_USER.PO_HL_ORDERS where scanner_id = :scanner)" updatable="Y" conflict="server" refresh="fast" dml_procedure="" virtualprimname="" virtualprimcolname="" />
      </snapshot>
      <sequence name="PO_ORDER_ITEMS_S_W32" type="WINDOW" startvalue="2" increment="2" windowsize="500" threshhold="50" />
   </application>
</workspace>
